//Custom Variables (outside Bootstrap's scope)

$dark-mode-dark: #1C1C26;
$dark-mode-light: #fff;
$dark-mode-card-bg: #2A3244;

.dark-mode-card-bg {
    background: $dark-mode-card-bg;
}

// to fill svgs, eg. circle in status component
.fill- {
    &primary {
        fill: $primary;
    }
    &success {
        fill: $green;
    }
    &danger {
        fill: $red;
    }
    &muted {
        fill: #6c757d;
    }
}
// .vh100 {
//     min-height: 100vh;
//     min-height: -webkit-fill-available;
//     min-height: -moz-available;
//     min-height: available; // not sure if exist in any browser
//     min-height: -webkit-stretch; // not sure if exist in any browser
//     min-height: -moz-stretch; // not sure if exist in any browser
//     min-height: stretch;
// }

.min-vh100 {
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: var(--vh100, 100vh);
}

// Overrides
.btn, button {
    outline: 0 !important;
    border: none !important;
    text-transform: uppercase;
    box-shadow: none !important;
}

.card {
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
    border-radius: 1rem;
    &:hover {
        box-shadow: 0px 10px 40px rgba(209, 213, 223, 0.6);
    }
    border: none !important;
    outline: 0 !important;
    &.dark-mode {
        background: $dark-mode-card-bg;
        color: #ffffff;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
        &:hover {
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
        }
    }
}

.dropdown-menu {
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.8);
    border-radius: 1rem;
    padding: 1rem 0;
    border: none !important;
}
.dropdown-item {
    padding: 0.6rem 2rem;
}

.card-input {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
    -webkit-appearance: none; //iOS messes up forms - See: https://stackoverflow.com/questions/10757146/iphone-ios-will-not-display-box-shadow-properly
    border-radius: 1rem;
    height: calc(2.25em + 1.125rem + 2px);
    padding: 0.5rem 1.5rem;
    outline: 0 !important;
    border: none !important;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 10px 40px rgba(209, 213, 223, 0.6);
    }

    &.dark-mode {
        background: $dark-mode-card-bg;
        color: #ffffff;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
        &:hover {
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
        }
    }
}

.card-input-group {
    .card-input {
        padding-right: 3rem;
    }
    .input-group-append > .btn {
        background: none !important;
        color: #616877;
        border: none !important;    
        outline: none !important;
        box-shadow: none !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
    }
}

.card-list {
    max-height: 15rem;
    overflow-y: scroll;
}

.list-group-item.dark-mode {
    background: $dark-mode-card-bg;
    color: #fff;
    &:hover {
        background: $dark-mode-dark;
    }
}

#confetti-canvas {
    z-index: 99999;
}

.card-custom {
    overflow-x: hidden;
    position: relative;
}
.card-custom-loading-bar {
    position: absolute;
    top: 0;
    height: 4px;
    background-color: $black;
    opacity: 0.25;
    display: block;
    border-radius: 1px;
    animation: card-custom-loading-bar-animation infinite 2s;
    // animation-timing-function: ease-in-out;
}

@keyframes card-custom-loading-bar-animation {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }
    25% {
        width: 100%;
        left: 0;
        right: auto;
    }
    26% {
        width: 100%;
        left: auto;
        right: 0;
    }
    50% {
        width: 0;
        left: auto;
        right: 0;
    }
    75% {
        width: 100%;
        left: auto;
        right: 0;
    }
    76% {
        width: 100%;
        left: 0;
        right: auto;
    }
    100% {
        width: 0;
        left: 0;
        right: auto;
    }
  }