@include media-breakpoint-down(sm) {
    h1 {
        font-size: $font-size-base * 4;
        line-height: $font-size-base * 4;
    }
}

.card-columns {
    column-count: 1;
    @include media-breakpoint-up(md) {
        column-count: 2;
    }
    column-gap: 30px;
}

.app-name {
    @include media-breakpoint-down(md) {
        font-size: 1.4rem;
    }
    @include media-breakpoint-only(lg) {
        font-size: 1.6rem;
    }
}

@include media-breakpoint-only(xs) {
    .app-icon {
        height: 66px !important;
        width: 66px !important;
        border-radius: 10px !important;
    }
    .installed-app {
        width: calc(50% - 1rem) !important;
    }
    .w-xs-100 {
        width: 100%;
    }
    .app-gallery {
        margin-left: -30px;
        margin-right: -24px;
        .app-gallery-screen {
            height: 240px;
        }
    }
}

@include media-breakpoint-only(sm) {
    .app-icon {
        height: 70px;
        width: 70px;
        border-radius: 10px;
    }
    .app-gallery {
        margin-left: -30px;
        margin-right: -30px;
        .app-gallery-screen {
            height: 260px;
        }
    }
}

@include media-breakpoint-only(md) {
    .app-icon {
        height: 80px;
        width: 80px;
        border-radius: 12px;
    }
    .app-gallery {
        margin-left: -30px;
        margin-right: -30px;
        .app-gallery-screen {
            height: 300px;
        }
    }
}

@include media-breakpoint-only(lg) {
    .app-icon {
        height: 80px;
        width: 80px;
        border-radius: 12px;
    }
}

@include media-breakpoint-up(lg) {
    .app-icon.app-icon-lg {
        height: 140px;
        width: 140px;
        border-radius: 20px;
    }
}
