name: Docker build on tag
env:
        DOCKER_CLI_EXPERIMENTAL: enabled
        TAG_FMT: '^refs/tags/(((.?[0-9]+){3,4}))$'

on:
        push:
                tags:
                  - v[0-9]+.[0-9]+.[0-9]+
                  - v[0-9]+.[0-9]+.[0-9]+-*

jobs:
        build:
                runs-on: ubuntu-20.04
                name: Build and push dashboard image
                strategy:
                  fail-fast: false
                  matrix:
                    platform:
                      - linux/amd64
                      - linux/arm/v7
                      - linux/arm64
                steps:
                        - name: Checkout project
                          uses: actions/checkout@v2

                        - name: Set env variables
                          run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

                        - name: Show set environment variables
                          run: |
                                  printf "    TAG: %s\n"  "$TAG"
                        - name: Login to Docker Hub
                          uses: docker/login-action@v1
                          with:
                            username: ${{ secrets.DOCKER_USERNAME }}
                            password: ${{ secrets.DOCKER_PASSWORD }}
                        
                        - name: Set up QEMU
                          uses: docker/setup-qemu-action@v1
                          id: qemu

                        - name: Setup Docker buildx action
                          uses: docker/setup-buildx-action@v1
                          id: buildx

                        - name: Cache Docker layers
                          uses: actions/cache@v2
                          id: cache
                          with:
                            path: /tmp/.buildx-cache
                            key: ${{ runner.os }}-buildx-${{ github.sha }}
                            restore-keys: |
                              ${{ runner.os }}-buildx-
                        - name: Show available buildx platforms
                          run: echo ${{ steps.buildx.outputs.platforms }}

                        - name: Run Docker buildx against tag
                          run: |
                                  docker buildx build \
                                  --cache-from "type=local,src=/tmp/.buildx-cache" \
                                  --cache-to "type=local,dest=/tmp/.buildx-cache" \
                                  --platform ${{matrix.platform}} \
                                  --tag ${{ secrets.DOCKER_HUB_USER }}/dashboard:$TAG \
                                  --output "type=registry" ./
                        - name: Run Docker buildx against latest
                          run: |
                                  docker buildx build \
                                  --cache-from "type=local,src=/tmp/.buildx-cache" \
                                  --cache-to "type=local,dest=/tmp/.buildx-cache" \
                                  --platform ${{matrix.platform}} \
                                  --tag ${{ secrets.DOCKER_HUB_USER }}/dashboard:latest \
                                  --output "type=registry" ./
